[submodule "act"]
	path = act
	url = https://github.com/tonyzhaozh/act
	branch = robomimic

[submodule "dlimp"]
        path = dlimp
        url = https://github.com/kvablack/dlimp
        branch = main
